/* about header start */
.about_header {
	background: darken(#2F2F2F, 5%);
    background: #FFFFFF;
    padding: 6rem 0;
    .header_article {
        text-align: center;
        margin-bottom: 65px;
        h2 {
            margin-bottom: 12px;
            line-height: 73px;
            font-weight: 400;
            font-size: 61px;
            color: #000;
        }
        p {
            line-height: 34px;
            font-size: 21px;
        }
    }
    .team_gallery {
        .form-row,
        .row {
            margin-right: -10px;
            margin-left: -10px;
            .col,[class*=col-] {
                padding-right: 10px;
                padding-left: 10px;
            }
        }
        .mb-4 {margin-bottom: 1rem !important;}
        img {
            box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1);
            border-radius: 6px;
            width: 100%;
        }
    }
}
@media screen and (max-width: 992px) {
    .about_header {
        .header_article {
            h2 {
                line-height: 48px;
                font-size: 40px;
            }
            p {
                line-height: 30px;
                font-size: 19px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .about_header {padding: 5rem 0;}
}
/* about header end */



/* location section start */
.location_section {
    background: #F9FBFD;
    overflow: hidden;
    .google_map {
        position: relative;
        width: 100%;
        height: 100%;
        #map {
            border: none;
            height: 100%;
            width: 50vw;
            float: right;
        }
        &:after {
            clip-path: polygon(0 0, 100% 0, 100% 100%);
            display: inline-block;
            position: absolute;
            content: '';
            right: -1px;
            top: -1px;
            background: #F9FBFD;
            width: 35px;
            height: calc(100% + 2px);
            z-index: 9999;
        }
    }
    .article_box {
        padding: 6rem 0;
        h3 {
            line-height: 42px;
            font-weight: 400;
            font-size: 31px;
            color: #161c2d;
            margin: 0;
        }
        .type-text {
            line-height: 42px;
            font-size: 31px;
            color: #42ba96;
            font-weight: 400;
        }
        p {
            line-height: 30px;
            font-size: 19px;
            margin-top: 15px;
        }
        .counter {
            margin-top: 30px;
            display: flex;
            h5 {
                margin-bottom: 0;
                line-height: 29px;
                font-size: 21px;
                color: #161c2d;
            }
            p {
                line-height: 27px;
                font-size: 17px;
                color: #506690;
            }
            &>div {
                padding-right: 25px;
                margin-right: 25px;
                position: relative;
                &::after {
                    content: '';
                    display: inline-block;
                    width: 1px;
                    height: 50px;
                    background: rgb(217, 226, 239);
                    position: absolute;
                    top: 2px;
                    right: 0;
                }
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    &:after {display: none;}
                }
            }
        }
    }
}
@media screen and (max-width: 992px) {
    .location_section {
        .article_box {
            h3, .type-text {
                line-height: 32px;
                font-size: 24px;
            }
            p {
                line-height: 27px;
                font-size: 17px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .location_section {
        .google_map {
            #map {
                min-height: 220px;
                margin-top: 45px;
                width: 100%;
            }
            &:after {display: none;}
        }
        .article_box {padding-bottom: 3rem;}
    }
}
/* location section end */



/* social section start */
.social_section {
    background: #fff;
    padding: 6rem 0;
    .title_box {
        margin-bottom: 65px;
        text-align: center;
        h3 {
            margin-bottom: 15px;
            line-height: 42px;
            font-size: 31px;
            font-weight: 400;
            color: #161c2d;
        }
        p {
            line-height: 30px;
            font-size: 19px;
        }
    }
    .social_img {margin-bottom: 40px;}
}
@media screen and (max-width: 992px) {
    .social_section {
        .title_box {
            h3 {
                line-height: 32px;
                font-size: 24px;
            }
            p {
                line-height: 27px;
                font-size: 17px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .social_section {padding: 3rem 0;}
}
/* social section end */



/* about slider start */
.about_slider {
    position: relative;
    .about_shape {
        position: absolute;
        overflow: hidden;
        width: 100%;
        left: 0;
        top: 0;
        transform: translateY(0%);
        z-index: 99;
        svg {
            transform-origin: bottom center;
            transform: scale(2);
            color: #fff;
        }
    }
    .carousel-item {
        img {width: 100% !important;}
    }
    .carousel-control-prev,
    .carousel-control-next {
        border-radius: 50%;
        background: #fff;
        color: #335eea;
        height: 54px;
        width: 54px;
        opacity: 1;
        top: calc(50% - 27px);
        &:focus {background: #AFABAE;}
    }
    .carousel-control-prev {left: 25px;}
    .carousel-control-next {right: 25px;}
}
/* about slider end */
