@import "partials/init";

/* navber style strat */
body.active {
    transition: all .2s;
    overflow: hidden;
}
.navbar {
    position: relative;
    user-select: none;
    background: #fff;
	padding: 0;
	.brand {
		margin-right: 25px;
		max-width: 95px;
	}
    span.nav-link,
	a.nav-link {
        display: inline-block;
        transition: all .2s;
        position: relative;
        line-height: 75px;
		cursor: pointer;
		font-size: 17px;
		margin: 0 15px;
		color: rgb(80, 102, 144);
		height: 75px;
		padding: 0 8px;
	}
    .dropdown-menu {
        border: none;
        .dropdown_link,
        .sub_menu {
            position: relative;
            h6 {
                text-transform: uppercase;
                letter-spacing: .08em;
                padding: 15px 0 12px;
                line-height: 19px;
                font-size: 13px;
                font-weight: 600;
                color: #335eea;
                margin: 0;
            }
            &>a {
                display: inline-block;
                white-space: nowrap;
                padding: 4px 0;
                font-weight: 400;
                font-size: 15px;
                color: #506690;
                width: 100%;
                &:hover {color: #335eea;}
            }
        }
        &.dropright .dropdown_link {
            padding: 0 20px;
            &>a::after {
                display: inline-block;
                content: "\e930";
                position: absolute;
                right: 15px;
                top: 4px;
            }
        }
        .list-group {
            padding: 0 8px;
            a {
                border-bottom: 1px solid #f1f4f8;
                padding: 12px 0;
                &:last-child {border: none;}
            }
            h6 {
                text-transform: uppercase;
                letter-spacing: .08em;
                font-weight: 500;
                font-size: 13px;
                color: #335eea;
                margin: 0;
            }
            p {
                font-weight: 400;
                font-size: 15px;
                color: #506690;
                margin: 0;
            }
        }
    }
    .buynow {
        transform: translate3d(0px, 0, 0px);
        box-shadow: rgba(22, 28, 45, 0.1) 0px 1rem 2.5rem, rgba(22, 28, 45, 0.1) 0px 0.5rem 1rem -0.75rem !important;
        background: #335EE9;
        border-radius: 6px;
        position: absolute;
        margin-left: 25px;
        line-height: 43px;
        min-width: 95px;
        font-size: 17px;
        padding: 0 17px;
        height: 43px;
        outline: none;
        border: none;
        color: #fff;
        right: 0;
        transition: all .2s;
        &:hover {
            transform: translate3d(0px, -3px, 0px);
            background: #1746E0;
        }
    }
}

@media screen and (min-width: 992px) {
	.navbar {
        background: #fff;
    	padding: 0;
        .closs_menu {display: none;}
		.navbar-collapse {
            justify-content: center;
            position: relative;
            padding-right: 120px;
        }
		.dropdown .dropdown-menu {
            box-shadow: rgba(22, 28, 45, 0.15) 0px 1.5rem 4rem;
            transform-origin: center top;
            transition: opacity 0.2s ease-in-out 0s, visibility, transform, -webkit-transform;
            visibility: hidden;
            transform: translate3d(0, 50px, 0px);
			position: absolute;
            overflow: hidden;
			display: block;
            border-radius: 6px;
            padding: 12px 15px;
            opacity: 0;
			background: #fff;
			top: 73px;
			left: 16px;
            transition: all .2s ease-in-out;
            &.menu_md {min-width: 22rem;}
            &.menu_lg {min-width: 35rem;}
            &.menu_xl {min-width: 42rem;}
            &>.row {margin: 0 !important;}

            &.dropright {
                overflow: inherit !important;
                padding: 11px 0;
                min-width: 14rem;
                .dropdown_link:hover .sub_menu {
                    transform: translate3d(0, -11px, 0px) !important;
                    visibility: visible;
                    opacity: 1;
                }
                .sub_menu {
                    transform-origin: center top;
                    transition: opacity 0.2s ease-in-out 0s, visibility, transform, -webkit-transform;
                    visibility: hidden;
                    position: absolute;
                    border-radius: 6px;
                    padding: 12px 20px;
                    background: #fff;
                    left: 100%;
                    top: 0;
                    min-width: 14rem;
                    box-shadow: rgba(22, 28, 45, 0.15) 0px 1.5rem 4rem;
                }
            }
		}
        .dropdown:hover .dropdown-menu {
            transform: translate3d(0, 0, 0px);
            visibility: visible;
            opacity: 1;
        }
        .dropdown .dropdown_img {
            background-image: url('../images/banner_img/menu_bg.jpg');
            background-position: center;
            background-repeat: repeat;
            background-size: cover;
            justify-content: center;
            align-items: center;
            position: relative;
            display: flex;
            padding: 0;
            height: calc(100% + 24px);
            margin-top: -12px;
            width: calc(100% + 30px);
            margin-left: -30px;
            &::after {
                background-color: rgba(51,94,234,.8);
                display: inline-block;
                position: absolute;
                content: '';
                height: 100%;
                width: 100%;
                bottom: 0;
                left: 0;
            }
            .menu_intro {
                padding: 2.375rem 2.5rem;
                position: relative;
                text-align: center;
                color: #fff;
                z-index: 99;
                h4 {
                    font-weight: 500;
                    font-size: 20px;
                }
                p {
                    line-height: 15px;
                    font-size: 14px;
                    color: #fff;
                }
                a {
                    transition: all .2s;
                    padding: 10px 15px;
                    border-radius: 4px;
                    background: #fff;
                    font-size: 16px;
                    color: #335eea;
                    border: none;
                    &:hover,
                    &:focus {
                        box-shadow: none;
                        color: #1c4ce8;
                        outline: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
	.navbar-expand-lg>.container {
		padding-right: 15px;
    	padding-left: 15px;
	}
    .navbar {
        background: #fff;
    	padding: 0;
        .navbar-toggler {
            display: inline-block;
            line-height: 75px;
            font-weight: bold;
            font-size: 30px;
            color: #047CBA;
            outline: none;
            border: none;
            height: 75px;
            padding: 0;
        }
        .closs_menu {
            position: absolute;
            font-size: 22px;
            color: #506690;
            right: 18px;
            top: 10px;
            border: none;
            background: none;
            line-height: inherit;
            height: auto;
        }
        .dropdown {
            border-bottom: 1px solid #f1f4f8;
            padding: 20px 0 25px;
            .dropdown_img {display: none;}
        }
        .dropdown-menu {
            display: block;
            padding: 0;
            margin: 0;
            .dropdown_link {
                padding: 0 !important;
                h6 {padding: 15px 25px 12px;}
                &>a {padding: 4px 25px;}
            }
            &.dropright {
                .sub_menu {
                    padding: 8px 35px;
                    display: block;
                    &.active {display: block;}
                }
            }
            .list-group {padding: 0 25px;}
        }
		.brand {display: block;}
        span.nav-link,
		a.nav-link {
            line-height: 45px;
            color: #161c2d;
			height: 45px;
            cursor: default;
		}
        .navbar-collapse {
            box-shadow: 0 1.5rem 4rem rgba(22,28,45,.15);
            width: calc(100% - 30px);
            height: calc(100vh - 30px);
            transform: scale(1);
            transition: all .0s;
            overflow-x: hidden;
            overflow-y: scroll;
            border-radius: 6px;
            background: #fff;
            position: fixed;
            z-index: 9;
            left: 15px;
            top: 15px;
            .navbar-nav {
                overflow: hidden;
                width: 100%;
            }
        }
        .buynow {
            border-radius: 0 0 6px 6px;
            line-height: 50px;
            height: 50px;
            width: 100%;
        }
    }
}
/* navber style end */



/* footer style start */
.footer-section {
    background-color: #F1F4F8;
	padding: 85px 0 45px;
    position: relative;
    &.bg_light {background: #fff;}
    &.dark_bg {
        background: #1B2A4E;
        .footer_round {
            svg {color: #1B2A4E;}
        }
        .footer_brand img {filter: brightness(0) invert(1);}
    }
    .footer_round {
        position: absolute;
        overflow: hidden;
        width: 100%;
        left: 0;
        top: 2px;
        transform: translateY(-100%);
        svg {
            transform-origin: top center;
            transform: scale(2);
            color: #F1F4F8;
        }
    }
    .subscribe_part {
        border-bottom: 1px solid #d9e2ef;
        padding-bottom: 25px;
        margin-bottom: 85px;
        margin-top: -35px;
        h5 {
            line-height: 29px;
            font-size: 21px;
            color: #161c2d;
        }
        form {
            align-items: center;
            display: flex;
            input {
                border-radius: 6px;
                margin-right: 15px;
                border: none;
                width: 100%;
                line-height: 54px;
                height: 54px;
                padding: 0 20px;
                font-size: 17px;
                &:focus {
                    box-shadow: none;
                    outline: none;
                }

            }
            button {
                background: #1643d4;
                font-size: 17px;
                padding: 0 20px;
                line-height: 54px;
                height: 54px;
                &:hover {background: #1746E0;}
            }
        }
        .apply_btn {
            transition: all .2s;
            border-radius: 6px;
            padding: 15px 25px;
            font-size: 17px;
            border: none;
            background: rgb(51, 94, 234);
            display: inline-block;
            margin-top: 5px;
            color: #fff;
            &:focus {
                box-shadow: none;
                outline: none;
            }
            &:hover {
                transform: translate3d(0px, -3px, 0px);
                box-shadow: rgba(22, 28, 45, 0.1) 0px 1rem 2.5rem, rgba(22, 28, 45, 0.1) 0px 0.5rem 1rem -0.75rem !important;
                background: rgb(23, 70, 224);
            }
        }
    }
	.footer_brand {
        margin-bottom: 25px;
        .logo {margin-bottom: 8px;}
        p {
            margin-bottom: 8px;
            color: #506690;
        }
        ul {
            display: inline-block;
            margin: 6px 0;
            width: 100%;
            li {
                margin-right: 12px;
                float: left;
                img {max-width: 20px;}
            }
        }
    }
    .link_area {
        h6 {
            text-transform: uppercase;
            letter-spacing: .08em;
            color: #506690;
            font-weight: 600;
            font-size: .75rem;
            line-height: 1.55;
        }
        ul {
            margin-bottom: 45px;
            li {
                margin-bottom: 12px;
                a {
                    line-height: 27px;
                    font-size: 17px;
                    color: #869ab8;
                    &:hover {text-decoration: underline;}
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .footer-section {
        padding: 45px 0;
        .subscribe_part {
            margin-bottom: 45px;
            margin-top: 0;
        }
    }
}
/* footer style end */
